.map {
  height: calc(100vh - 61px);
  width: 100%;
  position: relative;
  background-color: var(--map-placeholder);
}

@media (min-width: 768px) {
  .map {
    height: calc(100vh - 73px);
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
}

.popupOverlay > * {
  pointer-events: auto;
}